# Renombra este archivo a .env y llena los valores

# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=bera_stock

# JWT
JWT_SECRET=cambia_esto_por_una_clave_segura_muy_larga
JWT_EXPIRES_HOURS=24

# Flask
FLASK_PORT=5000
FLASK_DEBUG=true
